/*Theme Name: Walkap theme
Theme URI: http://www.walkap.com
Description: Walkap theme <br/>Created by <a href="http://www.walkap.com/" rel="friend">Roberto Capannelli</a> based on <a href="http://initializr.com/">Initializr</a> with html5 and css3.
Version: 1.0
Author: Roberto Capannelli
Author URI: http://www.walkap.com/ */

/*! normalize.css v1.0.1 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

::-moz-selection{background:black;text-shadow:none;color:white;}::selection{background:black;text-shadow:none;color:white;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}img{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize: vertical;}menu,ol,ul{padding:0;margin:0;}input{outline-color:#5f8ca5;}
body{width:100%;background-color:#f0f0f0;margin:0px;float:left;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;height:100%;overflow-y:hidden;font-weight: lighter;min-height: 100%;color:#808080;}
html{min-height: 100%;}
a{text-decoration:none;color:inherit;}
a:hover{color:#5f8ca5;-webkit-transition: all 100ms linear;-moz-transition: all 100ms linear;-ms-transition: all 100ms linear;-o-transition: all 100ms linear;transition: all 100ms linear;}
h1,h2,h3,h4,h5,h6{color: #5f8ca5;font-family: 'Open Sans Condensed', sans-serif;}
h1{font-size:24px !important;line-height: 26px;margin: 0px;overflow:hidden;text-transform:uppercase;}
h1 a{color:#5f8ca5; font-weight: 200;}
h1 a:hover{text-decoration:underline;}
h2{font-size:20px;margin:0;}
h4{font-size:18px !important;line-height: 16px;margin: 10px 0; font-weight: 200;text-transform:uppercase;}
li {list-style:none;}
iframe{overflow:hidden;border:none;outline:none;}
article figure img, article p, article iframe{width:100%;height:auto;float:left;}
aside iframe{width: 250px;height: 250px;}
p{line-height: 20px;letter-spacing: 1px;}
figure{position:relative;margin: 20px auto;float:left;}
code{color:#4d9054;font-weight:bold;}
code[contenteditable]{outline:none;}
.chromeframe{background-color:black;color:white;width:100%;height:120px;text-align:center;position:fixed;z-index: 99999999;top:-10px;padding:10px;}
#page-nav{float:left;display:none;}
/*==== JPANEL MENU STYLE =====*/
nav#jPanelMenu-menu{background-color:#3b3b3b;overflow-y:auto;overflow-x:hidden;color:#f7f7f7;height: 100%;position: fixed;}
#jPanelMenu-menu ul.categories li a{float:left;display:block;width:250px;border-bottom:1px solid #2e2e2e;border-top:1px solid #484848;padding:10px 10px 10px 10px;background:#3e3e3e;}
#jPanelMenu-menu ul.categories li a:hover, nav#jPanelMenu-menu ul.categories li.current-cat a{color:#5f8ca5;background:#545454;}
#jPanelMenu-menu ul.social{border-bottom: 1px solid #2e2e2e;float:left;display:block;padding: 15px 0;width:270px;}
#jPanelMenu-menu ul.social li{display:inline;float:left;}
#jPanelMenu-menu ul.social li a{display:block;float:left;margin: 0px 15px;-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none; background:url(../walkap_theme/img/sprites.png);}
#jPanelMenu-menu ul.social li a{width: 32px; height: 32px;}
#jPanelMenu-menu ul.social li.fb a{background-position: 157px 220px;width: 18px; height: 32px;}
#jPanelMenu-menu ul.social li.fb a:hover{background-position: 173px 220px;}
#jPanelMenu-menu ul.social li.tw a{background-position: 0px 220px;}
#jPanelMenu-menu ul.social li.tw a:hover{background-position: 267px 220px;}
#jPanelMenu-menu ul.social li.plus a{background-position: 138px 220px;}
#jPanelMenu-menu ul.social li.plus a:hover{background-position: 104px 220px;}
#jPanelMenu-menu ul.social li.feed a{background-position: 203px 220px;margin-right:0px;}
#jPanelMenu-menu ul.social li.feed a:hover{background-position: 235px 220px;}
#jPanelMenu-menu form#panelsearch{float:left;display:block;width:250px;padding:15px 10px;}
#jPanelMenu-menu form#panelsearch input{background-color:#666;-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;border:none;outline:none; font-size:12px;width:200px;height:25px;line-height:28px;padding:0 10px;color:#f0f0f0;}
#jPanelMenu-menu p{color:white;font-size:14px;font-weight:100;padding:20px 10px;display:block;float:left;border-top:1px solid #484848;width:230px;margin:0;}
nav.side-nav{display: none;}
/*====Rolling links====*/
article header .tags a.roll {display: inline-block;overflow: hidden;vertical-align: top;-webkit-perspective: 400px;-moz-perspective: 400px;-webkit-perspective-origin: 50% 50%;-moz-perspective-origin: 50% 50%;}
article header .tags a.roll span {display: block;position: relative;padding: 0 2px;-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;-webkit-transform-origin: 50% 0%;-moz-transform-origin: 50% 0%;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;}
article header .tags a.roll:hover span {background: #ffffff;-webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );-moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );}
article header .tags a.roll span:after {content: attr(data-title);display: block;
    position: absolute;left: 0;top: 0;padding: 0 2px;color: #fff;background: #5f8ca5;-webkit-transform-origin: 50% 0%;-moz-transform-origin: 50% 0%;-webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );-moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );}
/*==== SCROLL TO TOP ====*/
#back-top{position: fixed;bottom: -25px;right:20px;z-index: 99999;}
#back-top a{width: 50px;display: block;text-align: center;font-weight:bold;}
#back-top span{width:50px;height:50px;display:block;border:1px solid #bebebe;border-top:1px solid #e2e2e2;color:#808080;line-height:50px;-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px;border-top-left-radius: 3px;border-top-right-radius: 3px;font-weight:bold; box-shadow:0px 1px 1px #808080;background:#ffffff;}
/*==== HEADER=====*/
.main_header{width:100%;color:white;position:fixed;z-index:99;top:0px;padding:0 40px;background:#3e93bd;}
.main_header nav, .main_header nav ul{float:left;display:block;}
.main_header nav ul li{display: inline;float:left;}
.main_header nav ul li a{display:block;text-align:center;padding:0 10px;}
.main_header nav ul li a:hover, a.toggle-menu:hover{color:#83cdf2;}
a.toggle-menu{font-size:20px;display:block;float:left;padding:0 20px;cursor:pointer;}
/*==== CLASSIC ARTICLE STYLE ====*/
.single .wrapper_article, .page .wrapper_article, .blog article, .archive article, .search article{float:left;margin:10px;padding:10px;border-bottom:2px solid #e2e2e2;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background:#ffffff;-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-ms-transition: all 300ms linear;-o-transition: all 300ms linear;transition: all 300ms linear;}
.blog article, .archive article, .search article{width: 270px;height: auto;float: left;}
.blog article:hover, .archive article:hover, .search article:hover{border-bottom: 2px solid #b0b0b0;-webkit-transition: all 300ms linear;-moz-transition: all 300ms linear;-ms-transition: all 300ms linear;-o-transition: all 300ms linear;transition: all 300ms linear;background: #f4f4f4;}
.archive article figure img, .blog article figure img{width:270px !important;float: left;}
.single article .container p iframe{min-height: 400px;height: auto;float: left;}
.single article, .page article, .wrapper{margin: 0 auto;}
header div.meta{margin-top: 5px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;letter-spacing: 1px;}
header div.meta time{margin: 0; font-style: italic; text-transform:lowercase;font-size: 12px;}
.meta div.tags a{font-size:12px;}
.meta div.tags img{width: 15px;height: 15px;}
.share{float:right;width:200px}
.fb-like {float: left;overflow: hidden; width: 73px;margin-right: 10px;}
/*==== CATEGORY ICONS =====*/
article footer ul{float: left;display: block;}
article footer .post-categories li{float: left;}
article footer ul.post-categories li a{background-repeat: no-repeat;display: block;text-indent:-99999px;color:#5f8ca5;}
.category-portfolio .post-categories li a,.category-video .post-categories li a,.category-4dummies .post-categories li a,.category-blog .post-categories li a,.category-inspiration .post-categories li a{display:block; text-indent: 0;background: none;}
article footer ul.post-categories li a{background: url(../walkap_theme/img/sprites.png);}
.category-video .post-categories li a,.category-4dummies .post-categories li a,.category-portfolio .post-categories li a{ background:none;}
.category-foursquare .post-categories li a{background-position: 180px 0;width: 30px;height: 30px;}
.category-forrst .post-categories li a{background-position: 64px 0; width: 31px;height: 41px;}
.category-instagram .post-categories li a{background-position: 267px 0;width: 30px;height: 30px;}
.category-pinterest .post-categories li a{background-position: 82px 0;width: 30px; height: 30px;}
.category-dribbble .post-categories li a{background-position: 89px 0;width: 120px;height: 30px;}
.category-github .post-categories li a{background-position: 114px 0;width: 30px; height: 30px;}
.category-last-fm .post-categories li a{background-position: 50px 0;width: 50px; height: 30px;}
.category-delicious .post-categories li a{background-position: 0 0; width: 30px; height: 30px;}
.category-behance .post-categories li a{background-position:147px 0;width: 30px; height: 30px;}
.category-github p:nth-of-type(2), .category-github p:nth-of-type(3){display:none;}
.main_footer{width:100%;height:30px;float:left;display: block;padding: 20px 0 0 0;}
span.shadow{width: 282px;height: 5px;background-position: 0 39px;position: absolute;z-index: -1;bottom:-7px;left:5px;}
/*===== FORM =====*/
span.wpcf7-form-control-wrap input, .sidebar form#searchform input, span.wpcf7-form-control-wrap textarea,input.wpcf7-submit{background-color:white;border:1px solid #e2e2e2;outline: #3e93bd;color:#808080 !important;padding: 0 10px;}
.sidebar form#searchform input{width:250px;height:25px;line-height:25px;}
input.wpcf7-submit{width: 150px;height:30px;background-color: none;box-shadow: none;margin-right: 5px;}
span.wpcf7-form-control-wrap input{width: 70%;height: 30px;line-height: 30px;}
span.wpcf7-form-control-wrap textarea{width: 70%;;min-height:100px;}
.wpcf7-form p{font-size:12px; text-transform:lowercase;}
::-webkit-input-placeholder, ::-moz-placeholder{color:#dbdbdb;}
/*====COMMENTS====*/
section#comments{margin-bottom:20px;padding:10px;border:1px solid #e2e2e2;float: left;}
section#comments p{margin:10px 0;}
section.comments form label {display: block;font-size: 12px;margin-bottom: 5px;}
section.comments form input{width:70%;display: block;margin-bottom: 10px;background-color:white;border:1px solid #e2e2e2;outline: #3e93bd;height: 30px;line-height: 30px;color:#808080 !important;padding: 0 10px;}
section.comments form input#submit{width: 150px;background-color: none;box-shadow: none;float: right;margin-right: 5px;}
section.comments form textarea{width:70%;background-color:white;border:1px solid #e2e2e2;outline: #3e93bd;color:#808080 !important;min-height:80px;padding: 10px 10px;margin-bottom: 10px;}
.commentmetadata{font-style:italic;font-size:12px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.comments_count{float:right;}
.comments_count span{background-color:#F0F0F0;padding:5px 10px;border-radius:3px;border:1px solid #E2E2E2;box-shadow:inset 0px 0px 1px #E2E2E2}
.single div.wrapper article section.item article.article_comment{width:100%;margin: 0 0 20px 0;border-bottom: 1px solid #e2e2e2;padding-bottom: 10px;}
/* ==== MEDIA QUERY==== */
@media only screen and (min-width:0px) and (max-width:960px){
header.main_header{height: 40px;-webkit-transition: height 300ms linear;-moz-transition: height 300ms linear;-ms-transition: height 300ms linear;-o-transition: height 300ms linear;transition: height 300ms linear;}
header.main_header nav ul li a, header.main_header nav ul li{height: 40px;line-height: 40px;}
header.main_header p{opacity: 0;-webkit-transition: opacity 300ms linear;-moz-transition: opacity 300ms linear;-ms-transition: opacity 300ms linear;-o-transition: opacity 300ms linear;transition: opacity 300ms linear;position:absolute; display:none;}
.single div.wrapper article, .page div.wrapper article, div.wrapper{margin-top:50px;}
div.jPanelMenu-panel{float: left;min-height: 100%;}
a.toggle-menu{height: 40px;line-height: 40px;}
.page div.wrapper article, .single div.wrapper article{width: 90%;}
.single div.wrapper article p iframe{min-height: 400px;}
.sidebar{display:none;}}
@media only screen and (min-width:961px) {
.main_header{height: 120px;-webkit-transition: height 300ms linear;-moz-transition: height 300ms linear;-ms-transition: height 300ms linear;-o-transition: height 300ms linear;transition: height 300ms linear;}
.main_header nav ul li a, .main_header nav ul li{height: 120px;line-height: 120px;}
.main_header p{float: right;display: block;width: 540px;margin:30px 75px;color:white;opacity: 1;-webkit-transition: opacity 300ms linear;-moz-transition: opacity 300ms linear;-ms-transition: opacity 300ms linear;-o-transition: opacity 300ms linear;transition: opacity 300ms linear;}
.single article, .page article, div.wrapper{margin-top: 130px;}
div.jPanelMenu-panel{float: left;min-height: 100%;}
a.toggle-menu{height: 120px;line-height: 120px;}
.page article, .single article{width:960px;}
.single div.container, .single div.wrapper_article header{width: 620px !important;height:auto;display:block; float:left;}
.single div.container{border-right: 1px solid #E2E2E2; padding-right: 10px;}
/*====SIDEBAR====*/
.single div.wrapper article div.wrapper_article .sidebar{width:272px;padding-left:10px;float:left; display:block;color:#808080;}
.meta, .search-section, .tag-cloud-section, .related_post{float: left;}
.sidebar p{margin:0px;}
section.meta{float:left;}
ul.post-meta{display: block;float: left;padding-bottom: 20px;}
ul.post-meta li{list-style: none;display: block;padding:5px 0;}
ul.post-meta li h3{margin:5px 0;}
.sidebar div{margin: 20px 0;}
.sidebar a:hover{color:#5f8ca5;-webkit-transition: all 100ms linear;-moz-transition: all 100ms linear;-ms-transition: all 100ms linear;-o-transition: all 100ms linear;transition: all 100ms linear;}
.sidebar .related_post ul{font-size:14px !important;}
.sidebar .related_post ul li{ list-style: none;padding: 10px 0;border-bottom: 1px solid #e2e2e2;}
.sidebar .related_post ul li span{margin: 0; font-style: italic; text-transform:lowercase;}}
/* Helper classes*/
.ir {background-color: transparent;border: 0;overflow: hidden;text-indent: -9999px;}.ir:before {content: "";display: block;width: 0;height: 100%;}.hidden {display: none !important;visibility: hidden;}.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}.invisible {visibility: hidden;}.clearfix:before,.clearfix:after {content: " ";display: table;}.clearfix:after {clear: both;}
/*  Print styles*/
@media print {
a,a:visited {text-decoration: underline;}
a[href]:after {content: " (" attr(href) ")";}
abbr[title]:after {content: " (" attr(title) ")";}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {content: "";}
pre,blockquote {border: 1px solid #999;page-break-inside: avoid;}
thead {display: table-header-group;}
tr,img {page-break-inside: avoid;}
img {max-width: 100% !important;}
p,h2,h3 {orphans: 3;widows: 3;}
h2,h3 {page-break-after: avoid;}}
