/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
	
	background: #f0f0f0;letter-spacing: 0.3px;
	
	.avatar{
		
		margin: 0 auto;display: block;-webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;
		
	}
	
	/*==== wolfram widget ====*/
	
	div#wolframAlphaWidget83112{display: block;}
	
	#accordion p{cursor: pointer !important;border: 1px solid #3680a4 !important;padding: 10px !important; }
	
	#accordion p:focus{outline: none;}
	
	.eucookielaw-banner{
			
		color: #4e5665;background-color: none;
			
		.well{
			
			margin-bottom: 0;border-radius: 0;box-shadow: none;background-color: #f5f5f5;
			
			h1{
				
				font-size: 24px;margin: 10px 0;
				
			}
			
			p.banner-message{
				
				font-size: 12px;
				
				a{
					
					color: #428bca;text-decoration: none;
					
				}
				
			}
			
			p.banner-agreement-buttons{
				
				border-top: none;margin-bottom: 0;margin-top: 0;
				
				a.disagree-button{
					
					background-color: #d9534f !important;border-color: #d43f3a;color: white;margin-bottom: 0;font-size: 12px;
					
				}
				
				a.agree-button{
					
					color: white;background-color: #428bca;border-color: #357ebd;margin-bottom: 0;font-size: 12px;
					
				}
				
			}
			
			
		}
	}
			
}

/*==== Slidebar ====*/

html,body,#sb-site,.sb-slidebar{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

html.sb-static .sb-slidebar,.sb-slidebar.sb-static{position:absolute;}

html,body{width:100%;overflow-x:hidden;}

html{height:100%;
	
	body{min-height:100%;position:relative;
		
		#sb-site{width:100%;height:100%;position:relative;z-index:1;background-color:#e9eaed; }
		
		.sb-slidebar{height:100%;width:30%;overflow-y:auto;position:fixed;top:0;z-index:0;visibility:hidden;background-color:#222;
			
			ul{
				margin-bottom: 0;
				
			}
		}
		
		
		.sb-slidebar.sb-active{visibility:visible;}
		
		.sb-slidebar.sb-style-overlay{z-index:9999;}
		
		.sb-left{left:0;}
		
		.sb-right{right:0;}
		
		.sb-width-thin{width:15%;}
		
		.sb-width-wide{width:45%;}
		
		.sb-slide,#sb-site,.sb-slidebar{-webkit-transition:-webkit-transform 400ms ease;-moz-transition:-moz-transform 400ms ease;-o-transition:-o-transform 400ms ease;transition:transform 400ms ease;-webkit-transition-property:-webkit-transform,left,right;-webkit-backface-visibility:hidden;}
		
		.sb-hide{display:none;}

	}
}

@media(max-width:480px){
	
	.sb-slidebar{width:70%;}
	
	.sb-width-thin{width:55%;}
	
	.sb-width-wide{width:85%;}
	
	}
	
@media(min-width:481px){

	.sb-slidebar{width:55%;}
	
	.sb-width-thin{width:40%;}
	
	.sb-width-wide{width:70%;}
	}
	
@media(min-width:768px){

	.sb-slidebar{width:40%;}
	
	.sb-width-thin{width:25%;}
	
	.sb-width-wide{width:55%;}
	}
	
@media(min-width:992px){

	.sb-slidebar{width:30%;}
	
	.sb-width-thin{width:15%;}
	
	.sb-width-wide{width:45%;}
	}
@media(min-width:1200px){

	.sb-slidebar{width:20%;}
	
	.sb-width-thin{width:5%;}
	
	.sb-width-wide{width:35%;}
	
	}
	
/* ==========================================================================
   Header
   ========================================================================== */

.banner {
	
	.navbar-default{color: white;
		
		.navbar-nav{float: right;}
		
	}
	
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
	
	.tags{
				
		.icon-price-tags:before{color: #428bca;}
	}
	
	.wrapper{background: white;border-bottom: 5px solid #e2e2e2;padding: 10px;}
	
	article{padding: 10px 10px 30px 10px;
	
		figure{overflow: hidden;position: relative;
		
			a{
				
				img{width: 100%;height: auto;}
				
			}	
				
		}
	
		.wrapper{
		
			h2.entry-title{font-size: 22px;
				
				a{text-decoration: none;font-weight: 400;}
				
			}
						
			iframe{width: 100%;}
			
			.category-icon{
				
				text-decoration: none;
				
				&:hover{
					
					span{
						
						color: #428bca;
						
					}
					
				}
				
				span{
					
					display:block;
					text-align:right;
					color:#4e5665;
					font-size:20px;
					
				}
				
				
			}
						
		}
		
	}
	
	.bg-success, .bg-info, .bg-danger, .bg-warning{
		
		padding: 15px;
	
	}
		
}

.page{
	
	.main{
		
		.wrapper{
						
			margin-bottom: 20px;
			
			.login-box{
				
				border: 1px solid #e2e2e2;
				padding: 10px;
				margin: 0 0 10px 0;
								
				h4{
					
					font-weight: 500;
					text-transform: uppercase;
					color: #4E5665;
					
				}
				
				label{
					
					font-weight: normal;
					
				}
			
				form{
					
					div{
						
						margin: 10px 0;
						
						input{
					
							display: block;
					
						}
						
					}
				
					
				
				}
				
			}
			
		}
		
	}
	
}

.single .main{
	
	article{background: white;border-bottom: 5px solid #e2e2e2;
		
		header{margin-bottom: 10px;
		
			.entry-title{
				font-size: 28px;font-weight: 400;
			}
		
		}
	
		.entry-content{
	
			p{ overflow-x: auto;
				img{width: 100%;height: auto;}
		
				iframe{width: 100%;}
		
			}
		}
		
	}
	
}

.sb-slidebar{
	
	.account-link{
		
		padding: 20px 10px;color: #999;/*background: #333;border-top: 1px solid black;/*border-bottom: 1px solid black;*/
		
		span{
			
			text-transform: capitalize;display: block;margin-bottom: 10px;
			
		}
		
		.account{
			
			color: white;
			
		}
		
	}

	h3{text-shadow: 0 1px 0 #111;margin-left: 10px;}
	
	.widget_categories{
	
		ul{list-style: none;padding-left: 0;
			
			li{
			
				&:hover{background: #333;}
				
				a{color: white;padding: 10px;border-top:1px solid #111;border-bottom: 1px solid #333;width: 100%;display: block;}
				
			}
			
			li.current-cat{
				
				a{background: #333;}
				
			}
			
		}
		
	}
	
	.social-list{
		
		padding: 0 10px;//border-top: 1px solid black;
		
		h3{
			
			margin-top: 0;
			
		}
		
		ul{
			
			list-style: none;padding-left: 0;
			
			li{
				
				display: inline-block;font-size: 25px;margin: 10px 9px;
				
				a{
					color: white;text-decoration: none;
					
					&:hover{
						
						color: #3680a4;
						
					}
				}
				
				
			}
			
		}
		
	}
	
}


/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/*==== Forms ====*/

.gform_wrapper ul { .list-unstyled(); }

.gform_wrapper li { .form-group(); }

.gform_wrapper form { margin-bottom: 0; }

.gform_wrapper .gfield_required { padding-left: 1px; color: @state-danger-text;}

.ginput_container input,.ginput_container select,.ginput_container textarea { .form-control(); }

.ginput_container textarea { height: auto;}

.gform_button { .btn(); .btn-primary(); }

.gform_wrapper .gfield_error { 
	
	.gfield_label { color: @state-danger-text; }
	
	input,select,textarea {border-color: @alert-danger-border;background-color: @alert-danger-bg;color: @alert-danger-text;.form-control-focus(@alert-danger-text); }
	
}

.validation_error { .alert();.alert-danger(); }

#gforms_confirmation_message {.alert();.alert-success(); }

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar{

	.sidebar-wrapper{  background: #f6f7f8;padding: 10px;-webkit-box-sizing: content-box;-webkit-font-smoothing: antialiased;border-bottom: 5px solid #e2e2e2;
		
		.project-info{
			
			margin-bottom: 20px;
			
		}
		
		section{
		
			h3, h4{color: #4e5665;}
						
			a{color: #4e5665;}
			
			ul{list-style: none;padding-left: 0;
				
				li{padding: 10px 0;border-top:1px solid #e2e2e2;color: #4e5665;
					
					a{color: #4e5665;}
				}
				
			}
			
			
			
		}
		
		.widget_search{margin: 10px 0 0 0;}
		
		img{width: 100%;height: auto;margin: 20px 0;}
		
	}
	
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {padding: 10px 0;}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }