@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-r0xm9r');
  src: url('../fonts/icomoon.eot?#iefix-r0xm9r') format('embedded-opentype'), url('../fonts/icomoon.woff?-r0xm9r') format('woff'), url('../fonts/icomoon.ttf?-r0xm9r') format('truetype'), url('../fonts/icomoon.svg?-r0xm9r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e900";
}
.icon-office:before {
  content: "\e903";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-pen:before {
  content: "\e908";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-music:before {
  content: "\e911";
}
.icon-video-camera:before {
  content: "\e914";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-map:before {
  content: "\e94b";
}
.icon-map2:before {
  content: "\e94c";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-keyboard:before {
  content: "\e955";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-quotes-right:before {
  content: "\e978";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-key:before {
  content: "\e98d";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-cog:before {
  content: "\e994";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-omega:before {
  content: "\ea66";
}
.icon-sigma:before {
  content: "\ea67";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-google-plus3:before {
  content: "\ea8a";
}
.icon-facebook2:before {
  content: "\ea8d";
}
.icon-instagram:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea91";
}
.icon-feed2:before {
  content: "\ea94";
}
.icon-youtube3:before {
  content: "\ea99";
}
.icon-dribbble:before {
  content: "\eaa6";
}
.icon-dribbble2:before {
  content: "\eaa7";
}
.icon-dribbble3:before {
  content: "\eaa8";
}
.icon-forrst:before {
  content: "\eaa9";
}
.icon-forrst2:before {
  content: "\eaaa";
}
.icon-onedrive:before {
  content: "\eab0";
}
.icon-github:before {
  content: "\eab1";
}
.icon-github3:before {
  content: "\eab3";
}
.icon-github4:before {
  content: "\eab4";
}
.icon-wordpress:before {
  content: "\eab6";
}
.icon-tux:before {
  content: "\eabe";
}
.icon-apple:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac3";
}
.icon-skype:before {
  content: "\eac6";
}
.icon-linkedin:before {
  content: "\eac8";
}
.icon-linkedin2:before {
  content: "\eac9";
}
.icon-lastfm:before {
  content: "\eaca";
}
.icon-delicious:before {
  content: "\eacc";
}
.icon-pinterest:before {
  content: "\ead0";
}
.icon-paypal:before {
  content: "\ead6";
}
.icon-file-pdf:before {
  content: "\eada";
}
.icon-html5:before {
  content: "\eadf";
}
.icon-html52:before {
  content: "\eae0";
}
.icon-css3:before {
  content: "\eae1";
}
.icon-chrome:before {
  content: "\eae5";
}
.icon-firefox:before {
  content: "\eae6";
}
.icon-IE:before {
  content: "\eae7";
}
.icon-opera:before {
  content: "\eae8";
}
.icon-bulb:before {
  content: "\e600";
}
